<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Sentiment Analyzer</title>
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form id="form" class="">
                    <p>Enter an Article URL.</p>
                    <input id="url" type="text" name="input" value="" placeholder="Article Link">
                    <input type="submit" name="" value="Check">
                </form>
            </section>

            <section id="result">
                <strong>Check Results:</strong>
                <div id="polarity"></div>
                <div id="agreement"></div>
                <div id="subjectivity"></div>
                <div id="confidence"></div>
                <div id="irony"></div>
            </section>
        </main>

        <script>
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js')
                    .then(reg => {
                        console.log('srvice worker registerd successfully')
                    }).catch(error => {
                        console.log('error: ', error);
                    })
                });
            }
        </script>

        <footer>
            <p>This is a footer</p>
        </footer>

    </body>
</html>
